
body {
  background-color: rgb(108, 204, 108);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: absolute;
}

#gameItemPaddle1 { 
  /* appearance */
  background-color: rgb(115, 219, 219);
  width: 20px;
  height: 80px;
  border-radius: 5px;
  /* positioning */
  position: absolute;
   left: 10px;   /* player 1's start left-wise */
   top: 180px;    /* player 1's start top-wise */
}

#gameItemPaddle2 { 
  /* appearance */
  background-color: rgb(241, 63, 32);
  width: 20px;
  height: 80px;
  border-radius: 5px;
  /* positioning */
  position: absolute;
   left: 420px;   /* player 2's start left-wise */
   top: 180px;    /* player 2's start top-wise */
}

#gameItemBall { 
  /* appearance */
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  /* positioning */
  position: absolute;
   left: 215px;   /* player 2's start left-wise */
   top: 230px;    /* player 2's start top-wise */
}